@import url(./__container/popup__container.css);
@import url(./__heading/popup__heading.css);
@import url(./__form/popup__form.css);
@import url(./__close/popup__close.css);
@import url(./__input/popup__input.css);
@import url(./__button/popup__button.css);
@import url(./__figure/popup__figure.css);
@import url(./__image/popup__image.css);
@import url(./__image-title.css/popup__image-title.css);

@import url(./__container/_mode/popup__container_mode_image.css);
@import url(./__close/_mode/popup__close_mode_image.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__input/_type/popup__input_type_error.css);
@import url(./__button/_disabled/popup__button_disabled.css);

.popup {
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .2s, opacity .2s linear;
}

@media (min-width: 1280px) {
    .popup {
        width: 1280px;
    }
}