.footer__copyright {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #545454;
}

@media (min-width: 320px) and (max-width: 374px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}